<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>{{#block "title"}}Wild Life Tracker{{/block}}</title>
</head>
<body>
    <div class="nav">

      <h1><a class="navbar-brand" href="#">WILD LIFE TRACKER</a></h1>
    <ul class="nav  nav-tabs text-center">
      <li role="presentation" class="active"><a href="/">Home</a></li>
      <li role="presentation"><a href="/form">Form</a></li>
      <li role="presentation"><a href="/rangers">Rangers</a></li>
      <li role="presentation"><a href="/animals">Animals</a></li>
      <li role="presentation"><a href="/endangered">Endangered Animals</a></li>
    </ul>
    
</div>
        
{{#block "content"}}
        {{/block}}
      
 


<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
    </footer>
    </body>
    </html>
{{/block}}